MODS=917086810603  
MONGO_URI=mongodb+srv://NikoRobin:NikoRobin12345@cluster0.pkpnnic.mongodb.net/?retryWrites=true&w=majority
PREFIX=/
SESSION_ID=meowrio
MAL_USERNAME= #mal password (optional)
MAL_PASSWORD= #mal password (optional)
PACKNAME=Kaori Miyazono🧣
NAME=Kaori Miyazono🧣